*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--dark-purple: #24053e;
	--davy-s-grey: #584d62;
	--eucaplyptus: #44ffa1;
	--ghost-white: #fcf8ff;
	--white: #fff;
}

.container{
  max-width: 1280px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
}

.header{
    position: relative;
    z-index: 1;
    clip-path: ellipse(150% 100% at 50% 0%);  
    width: 1130px;
    height: 730px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #24053e ;
    background-image: 
        url('../icons/right_svg.png'), 
        url('../icons/left_header.svg');
        
    /* Налаштовуємо їх розташування */
    background-position: 
        right 0px top 314px,   /* Перше кільце: зліва */
        left 0px top 116px; /* Друге кільце: справа */
        
    background-repeat: no-repeat;
    /* Щоб кільця не зникали на маленьких екранах, можна додати: */
    
}

.head{
    height: 50px;
    width: 1130px;
    position: absolute;
    top: 56px;
    
    display: flex;
    justify-content: space-between;
}

.header_text{
    display: block;
    top: 0px;
    position: relative;
    right: 5px;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 18px;
    line-height: 178%;
    letter-spacing: -0.01em;
    padding-bottom: 6px;


    color: var(--white);
}
    .header_text::after{
        content: " ";
        display: block;
        width: 140px;
        height: 3px;
        left: 0px;
        bottom: 0px;
        background-repeat: no-repeat;
        background-color: var(--eucaplyptus);
        margin-right: 10px;

    }

.header_logo img{
    position: absolute;
    width: 95px;
    height: 24px;
    top:  0px;
    left: 5px;
}

.data{
    display: flex;
    position: absolute;
    width: 635px;
    top: 146px;

    margin-inline-start: 240px;
    margin-inline-end: 243px;
    flex-direction: column;
}

.data_text{
    font-family: "Fraunces 144pt", sans-serif;
    font-weight: 600;
    font-optical-sizing: auto;
    font-size: 80px;
    line-height: 100%;
    text-align: center;
    color: var(--white)
}

.data_text span {
    position: relative; 
    display: inline-block;
}
  .data_text span::after{
        content: " ";
        position: absolute;
        display: block;
        width: 279px;
        height: 3px;
        left: 0px;
        bottom: 0px;
        background-repeat: no-repeat;
        background-color: var(--eucaplyptus);
        margin-right: 10px;

}
.data_button{
    display: flex;
    justify-content: center;
    margin-top: 40px;
  
 
    
}
.data_button button{
    font-family: "Manrope", sans-serif;
    background-color: var(--eucaplyptus);
    font-optical-sizing: auto;
    width: 161px;
    height: 61px;

    font-weight: 700;
    font-size: 18px;
    line-height: 178%;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--dark-purple)
}





.main-section{
    max-width: 1130px;
    background-color: var(--ghost-white);
    height: 960px;
    position: relative;
    /* clip-path: ellipse(150% 100% at 50% 0%); */
    margin-top: -150px;  
    padding-top: 200px;
}


.main_image{
    display: flex;
    justify-content: center; /* Центруємо телефон по горизонталі */
    width: 100%;
    position: relative;
    /* Ставимо телефон ПОВЕРХ фону хедера */

}

.main_image img{
    max-width: 767px; /* Розмір як у макеті Figma */
    width: 100%;
    height: auto;
    position: relative;
    /* Піднімаємо телефон вгору на закруглений фон */
    margin-top: -277px;
    z-index: 10;
}


.main_info{
    position: absolute;
    top: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1114px;
    /* margin-inline-start: 162px;
    margin-inline-end: 162px; */
    margin-block-start: 68px;
    height: 308px;
}

.main_info div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



.main_info div img{
    width: 56px;
    height: 56px;
    margin-block-end: 56px;

}
.main_info div .uparcase{
    font-family: "Fraunces 144pt", sans-serif;
    margin-block-end: 28px;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
    text-align: center;
    color: var(--dark-purple);
    line-height: 40px;
}

.main_info div span{
    /* height: 128px; */
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-size: 18px;
    line-height: 178%;
    text-align: center;
    color: var(--dark-purple);
}

.second-section{
    margin-block-start: 110px;
    width: 1112px;
    height: 647px;
    position: relative;
    padding-block-end: 62px;
    padding-block-start: 62px;
  
    

}


.second-section img{
    position: absolute;
    top: 0;
    left: 0;
}

.second-section .dashboard{
    width: 730px;
    height: 413px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--dark-purple);
    padding-block-end: 62px;
    padding-block-start: 62px;
    padding-inline-start: 62px;
    /* background-image:  url('../icons/right_svg.png');
    background-repeat: no-repeat;
    background-position: right 72px top 263px;
    background-position-x: 113%; */
    overflow: visible; /* Щоб кільце могло трохи вилазити за межі, якщо треба */
    z-index: 1;
    margin-block-end: 62px;
    
    

}
.second-section .dashboard::after{
    content: "";
    position: absolute;
    background-image: url('../icons/Group\ 10.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 173px;
    height: 137px;

  
    right: 72px; 
    bottom: -60px;
    transform: rotate(-113deg);
    z-index: -1;
}

.dashboard .dashboard_text
    {
    height: 96px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-size: 18px;
    line-height: 178%;
    color: var(--white);
    margin-block-end: 32px;
}

.dashboard h2{
    font-family: "Manrope", sans-serif;
    /* width: 382px; */
    font-weight: 700;
    font-optical-sizing: auto;
    font-size: 56px;
    line-height: 114%;
    color: var(--white);
    margin-block-end: 32px;
}

.dashboard button{
    
    font-family: "Manrope", sans-serif;
    background-color: var(--eucaplyptus) ;
    width: 161px;
    height: 61px;

    font-weight: 700;
    font-size: 18px;
    line-height: 178%;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--dark-purple);
}


footer{
    display: flex;
    flex-direction: column;
    margin-block-start: 60px;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    width: 116px;
    
    margin-inline-start: 501px;
    margin-inline-end: 501px;
}

footer .workit-black img{
    margin-block-end: 58px;
    width: 95px;
    height: 24px;
}

footer div {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

footer div img {
    width: 20px;  /* Підправ розмір під макет */
    height: auto;
    cursor: pointer;
} 

