*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,h1 h2 h3 h4 h5 h6{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

:root {
	--dark-purple: #24053e;
	--davy-s-grey: #584d62;
	--eucaplyptus: #44ffa1;
	--ghost-white: #fcf8ff;
	--white: #fff;
}
.fraunces{
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}
.manrope-bold{
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container{
  width: 1130px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

header{
    width: 100%;
    padding-top: 56px;
    max-height: 100%;
    height: 730px;
    background-color: #fcf8ff ;
    background-image: url(../img/header_back.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    block-size: cover;
    position: relative;

        
    
}

.header{
    
    
}

.flx{
    display: flex;
    justify-content: space-between;
    
    
}

.head{
    height: 35px;
    width: 1110px;
    
}

 a.header_text{
    background-color: var(--dark-purple);
    color: var(--white);
    display: block;
    top: 0px;
    position: relative; 
    right: 5px;

    border: none;
    font-size: 18px;
    line-height: 178%;
    letter-spacing: -0.01em;
    padding-bottom: 6px;
    color: var(--white);
    border-bottom: #44ffa1 3px solid;
}
.header_text:active{

    line-height: 178%;
    letter-spacing: -0.01em;
    color: var(--eucaplyptus);
}

   

.header_logo a{
    position: absolute;
    width: 95px;
    height: 24px;
    top:  0px;
    left: 5px;
    content: "";
}


.header_image {
    position: absolute;
    bottom: -165px;
    left: 50%;
    transform: translateX(-50%);
}


.header__rings-right{
    position: absolute;
    top: 138px;
    left: 0px;
}
.header__rings-left{
    position: absolute;
    bottom: 430px;
    right: 0px;
    
}

.data{
    display: flex;
    position: absolute;
    width: 635px;
    top: 146px;

    margin-inline-start: 240px;
    margin-inline-end: 243px;
    flex-direction: column;
}




.data_text{
    font-size: 80px;
    line-height: 100%;
    text-align: center;
    color: var(--white)
}

.data_text span {
    position: relative; 
    
}
  .data_text span::after{
        content: " ";
        position: absolute;
        display: block;
        max-width: 243px;
        width: 100%;
        height: 3px;
        right: 0px;
        bottom: 0px;
        background-repeat: no-repeat;
        background-color: var(--eucaplyptus);
        

}
.data_button{
    display: flex;
    justify-content: center;
    margin-top: 40px;
  
 
    
}
.data_button button{
    
    background-color: var(--eucaplyptus);
    font-optical-sizing: auto;
    width: 161px;
    height: 61px;
    font-weight: 700;
    font-size: 18px;
    line-height: 178%;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--dark-purple)
}


.data_button button:active{
    background-color: var(--dark-purple);
    color: var(--eucaplyptus);
    border: 2px solid var(--eucaplyptus);
}


main{
    clip-path: ellipse(150% 100% at 50% 0%);
    background-color: var(--ghost-white);
    width: 1440px;
    height: 920px;
}

.main-section{
    width: 1130px;
    height: 960px;
    position: relative;
    margin-top: -150px;  
    padding-top: 200px;
}

/*  
.main_image{
    display: flex;
    justify-content: center; 
    width: 100%;
    position: relative;
    

} */




.main_info{
    position: absolute;
    top: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1114px;
    /* margin-inline-start: 162px;
    margin-inline-end: 162px; */
    margin-block-start: 68px;
    height: 308px;
}

.main_info div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



.main_info div img{
    width: 56px;
    height: 56px;
    margin-block-end: 56px;

}
.main_info div .uparcase{

    margin-block-end: 28px;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
    text-align: center;
    color: var(--dark-purple);
    line-height: 40px;
}

.main_info div span{
    /* height: 128px; */

    font-optical-sizing: auto;
    font-size: 18px;
    line-height: 178%;
    text-align: center;
    color: var(--dark-purple);
}

.second-section{
    margin-block-start: 110px;
    width: 1112px;
    height: 647px;
    position: relative;
    padding-block-end: 62px;
    padding-block-start: 62px;
  
    

}


.second-section img{
    position: absolute;
    top: 0;
    left: 0;
}

.second-section .dashboard{
    width: 730px;
    height: 413px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--dark-purple);
    padding-block-end: 62px;
    padding-block-start: 62px;
    padding-inline-start: 62px;
    /* background-image:  url('../icons/right_svg.png');
    background-repeat: no-repeat;
    background-position: right 72px top 263px;
    background-position-x: 113%; */
    overflow: visible; /* Щоб кільце могло трохи вилазити за межі, якщо треба */
    z-index: 1;
    margin-block-end: 62px;
    
    

}
.second-section .dashboard::after{
    content: "";
    position: absolute;
    background-image: url('../icons/Group\ 10.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 173px;
    height: 137px;

  
    right: 72px; 
    bottom: -60px;
    transform: rotate(-113deg);
    z-index: -1;
}

.dashboard .dashboard_text span{
    height: 96px;
    font-optical-sizing: auto;
    font-size: 18px;
    line-height: 178%;
    color: var(--white);
    margin-block-end: 32px;
}

.dashboard_text{
    margin-block-end: 32px;
}


.dashboard h2{

    /* width: 382px; */
    font-weight: 700;
    font-optical-sizing: auto;
    font-size: 56px;
    line-height: 114%;
    color: var(--white);
    margin-block-end: 32px;
}

.dashboard button{
    

    background-color: var(--eucaplyptus) ;
    width: 161px;
    height: 61px;

    font-size: 18px;
    line-height: 178%;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--dark-purple);
}
.dashboard button:active{
    background-color: var(--dark-purple);
    color: var(--eucaplyptus);
    border: 2px solid var(--eucaplyptus);
}





footer{
    display: flex;
    flex-direction: column;
    margin-block-start: 60px;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    width: 116px;
    margin: 0 auto;
    margin-block-end: 121px;
}

footer .workit-black img{
    margin-block-end: 58px;
    width: 95px;
    height: 24px;
}

footer div {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

footer div img {
    width: 20px;  /* Підправ розмір під макет */
    height: auto;
    cursor: pointer;
} 

